* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Estilos para el encabezado */
.text {
    text-align: center;
    font-size: 2.5em;
    color: rgb(67, 165, 42);
    font-style: oblique;
    font-weight: bold;
}

/* Propiedad que toma la primer letra de una frase */
.text::first-letter {
    color: rgb(131, 180, 39);
    font-size: 1.5em;
}

.flex-container {
    /* Color de fondo */
    background-color: coral;

    /* Espacio 3em top y bottom, .5em left y right */
    padding: 3em .5em;

    /* Margen del contenedor */
    margin: .5em;

    /* Flex */
    display: flex;
    flex-wrap: wrap;
    /* align-content: space-between; */
    align-content: space-between;

    /* Espacio entre cajas */
    gap: 1em;

    /* Efectos de contenedor */
    border-radius: 10px;
    box-shadow: 0px 0px 50px #ccc,
        10px 10px 100px rgb(141, 26, 26);
}

.flex-item {
    /* Dimenciones de la caja */
    width: 100px;
    height: 100px;

    /* Centrar elementos*/
    margin-left: auto;
    margin-right: auto;

    /* Colorde de fondo y letra */
    background-color: rgb(142, 156, 80);
    color: white;

    /* Efecto de borde y sombra */
    border-radius: 10px;
    border: 1px solid rgb(255 255 255 / 1);
    box-shadow: 0 0 10px rgba(255, 255, 255);

    /* Posicionar texto centrado */
    display: flex;
    justify-content: center;
    align-items: center;

    /* tamaño de letra */
    font-size: 1.5em;
}

.flex-item:hover {
    background-color: white;
    border: 2px solid red;
    box-shadow: 0 0 15px rgb(228, 33, 33);
    color: red;
    cursor: pointer;
    transform: scale(1.1);
    transition: .5s;
}